# Neon Database Configuration
DATABASE_URL="postgresql://neondb_owner:npg_NsVEelIL8T7O@ep-broad-leaf-abf0x8ze-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_NsVEelIL8T7O@ep-broad-leaf-abf0x8ze.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Environment
NODE_ENV=development
